language: rust

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly
    - rust: beta

cache: cargo

sudo: false

# Dependencies of kcov, used for cargo-travis
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev
      - cmake
    sources:
      - kalakris-cmake

before_script:
  - cargo install --force cargo-travis
  - export PATH=$HOME/.cargo/bin:$PATH

script:
  - |
      cargo build &&
      cargo test

after_success:
  - cargo coveralls
